<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


</head>

<body>
  <div class="topnav">
    <nav class="menum navbar navbar-light navbar-expand-md justify-content-center fixed-top">
      <div class="">
        <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
          <ul class="topBotomBordersOut navbar-nav mx-auto text-center">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/image">Add Card</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/users">Users</a>
              <li class="nav-item">
                <a class="nav-link" (click)="logout()">Logout</a>

              </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <section class="login-block">
    <div class="container">
      <div class="row">
        <div class="col-md-12 banner-sec">
          <div class="board-inner">
            <h2 class="text-center">Our Users</h2>

            <div class="col-xs-2" *ngFor="let user of users">
                <img class="imgdisplay" [src]="url" *ngIf="url != null" width="500" height="500">
    <img class="profile-img" src="{{user.proPic}}" alt="">
     <h3 class="username" align='center'>
                  <b>{{user.name}}</b>
                </h3>
              <!-- <div class="user">
            
               

              </div> -->
            </div>

          </div>




        </div>



      </div>
    </div>



  </section>


</body>