@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block{
/* background: #DE6262; */
background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  
background: linear-gradient(to bottom, #FFB88C, #DE6262); 
float:left;
width:100%;
/* height: 100vh; */
padding :200px;
background-size: cover;
background-repeat: no-repeat;
position: fixed;

}
.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}

.row-no-gutter {
    margin-right: 0;
    margin-left: 0;
  }
  
  .row-no-gutter [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }

.form-group {
    position: relative;
    margin-bottom: 3.5rem;
  }

  
  .form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 10px 13px;
    transition: all 200ms;
    opacity: 0.5;
  }
.banner-sec{
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(255, 186, 186, 0) 30%, rgba(255, 186, 186, 0.65) 100%), url('../../../assets/birthday.jpeg') no-repeat;  */
    background-size:cover;
     background-repeat: no-repeat; 
      background-position: center;
     min-height:500px;
    border-radius: 10px 10px 10px 10px;
     padding:0;
      background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(224, 224, 224));   
     display: block;
     margin: 0 auto;
     /* background: rgb(245, 245, 245) */
    }

 

    .cards{
       padding-bottom: 10px;
       padding-top: 10px;
       background-color: transparent;
       margin: 0 auto;
       display: flex;
       justify-content: center;
       align-items: center;    
    }

  .col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    
    margin-right: 3px;
      margin-left: 3px;
      border-radius:15px ;
    
    display: flex;
    justify-content: center;
    align-items: center;   
}
  img {
    vertical-align: middle;
    border-style: none;
    height: 11vw;
    width: 11vw;
    border-radius: 8px
}
.imgdisplay{
/* height: 220px; */
width: 75%;
position: relative;
top: 100px;
left: 50%;
transform: translate(-50%, -50%)
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    overflow: auto;
    max-height: 600px;
    
}

.container{
    background:#fff;
     border-radius: 10px; 
     box-shadow:15px 20px 0px rgba(0,0,0,0.1);
    }


.login-sec{
    padding: 10px 30px;
     position:relative;
    }
.login-sec .copy-text{
    position:absolute;
     width:80%; 
    bottom:20px;
     font-size:13px;
     text-align:center;
    }
.login-sec .copy-text i{
    color:#FEB58A;
}
.login-sec .copy-text h6{
    color:#E36262;
}
.login-sec .copy-text {
    margin-top: 5rem;
 
}

.login-sec h2{
    margin-top:50px;
    margin-bottom:30px;
     font-weight:800;
      font-size:30px;
       color: #DE6262;
    }
.login-sec h2:after{
    content:" ";
     width:100px;
      height:5px;
      background:#FEB58A;
       display:block;
        margin-top:20px;
         border-radius:3px;
          margin-left:auto;
          margin-right:auto
        }
.btn-login{
    background: #DE6262;
     color:#fff; 
     font-weight:600;
    }
    .btn-register{
        background: #DE6262;
         color:#fff; 
         font-weight:600;
         margin-bottom: 2.5rem;
         width: 100%;
        }
.banner-text{
    width:70%;
     position:absolute;
      bottom:40px; 
      padding-left:20px;
    }
.banner-text h2{
    color:#fff; 
    font-weight:600;
}
.banner-text h2:after{
    content:" ";
     width:100px; 
     height:5px; 
     background:#FFF;
      display:block;
       margin-top:20px;
        border-radius:3px
    }
.banner-text p{
    color:#fff;
}

.col:hover{
    cursor: pointer;
}



.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  

  .tab button:hover {
    background-color: #ddd;
  }
  

  .tab button.active {
    background-color: rgba(204, 204, 204, 0.63);
  }


  #register{
      display:none;
  }
  .login-sec[_ngcontent-c1] h2[_ngcontent-c1] {
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: #DE6262;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #DE6262; 
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #DE6262;
}
input[type="file" i] {
  align-items: baseline;
  color: inherit;
  text-align: center !important;

}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: aqua;
  background: red
}
input {
  padding: 1px 0px;
  border-radius: 3px 15px 15px 0;
  color: aqua;
  background: aliceblue;
  margin: 0% auto;
  display: block;
}
@import url(http://fonts.googleapis.com/css?family=Raleway);
body{
    
    background-color:#ff666f;

}

a{
    
    color:#fff !important;
    
}
.nav{
  float: right;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.nav-item {
    font-family: Century Gothic;
    /* margin: 0 auto; */
    padding: 0em 0em;
    text-align: left;
}
.nav-item a {
    color: #FFF;
    text-decoration: none;
    font: 20px Century Gothic;
    /* margin: 0px 20px;
    padding:10px 10px; */
    padding:10px 10px;
    position: relative;
    z-index: 0;
    font-weight: 600;
   
}
.topnav{

    width: 100%;
    background-color: transparent;
    /* border: 2px solid white; */
    /* position: fixed; */
    /* top: 10%; */
    /* left: 80%; */
    /* transform: translate(-50%, -50%); */
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    color: white;
    padding-left: 1200px;
    padding-top: 3%;
    /* top: 10%;
    left: 80PX; */
  }

/* Top & Bottom Borders Out */
.topBotomBordersOut a:before, .topBotomBordersOut a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content:"";
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.topBotomBordersOut a:before {
    top: 0px;
    transform: translateY(10px);
}
.topBotomBordersOut a:after {
    bottom: 0px;
    transform: translateY(-10px);
}
.topBotomBordersOut a:hover:before, .topBotomBordersOut a:hover:after {
    opacity: 2;
    transform: translateY(0px);
}

#isActive{
  border-top: 2px solid white;
  border-bottom: 2px solid white;

}





