@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block{
    background: #DE6262;
background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  
background: linear-gradient(to bottom, #FFB88C, #DE6262); 
float:left;
width:100%;
height: 100vh;
padding : 200px 0;
background-size: cover;
background-repeat: no-repeat;
}
.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}
.form-group {
    position: relative;
    margin-bottom: 3.5rem;
  }

  
  .form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 10px 13px;
    transition: all 200ms;
    opacity: 0.5;
  }
.banner-sec{
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(255, 186, 186, 0) 30%, rgba(255, 186, 186, 0.65) 100%), url('../../../assets/birthday.jpeg') no-repeat; */
     background-size:cover;
     background-repeat: no-repeat;
     /* background-position: center; */
     min-height:500px;
    height:500px;
    border-radius: 0 10px 10px 0;
     padding:0;
     overflow: auto;
    }

.container{
    background:#fff;
     border-radius: 10px; 
     box-shadow:15px 20px 0px rgba(0,0,0,0.1);
    }


.login-sec{
    padding: 50px 30px;
     position:relative;
    }
.login-sec .copy-text{
    position:absolute;
     width:80%; 
    bottom:20px;
     font-size:13px;
     text-align:center;
    }
.login-sec .copy-text i{
    color:#FEB58A;
}
.login-sec .copy-text h6{
    color:#E36262;
}
.login-sec .copy-text {
    margin-top: 5rem;
 
}

.login-sec h2{
    margin-top:50px;
    margin-bottom:30px;
     font-weight:800;
      font-size:30px;
       color: #DE6262;
    }
.login-sec h2:after{
    content:" ";
     width:100px;
      height:5px;
      background:#FEB58A;
       display:block;
        margin-top:20px;
         border-radius:3px;
          margin-left:auto;
          margin-right:auto
        }
.btn-login{
    background: #DE6262;
     color:#fff; 
     font-weight:600;
    }
    .btn-register{
        background: #DE6262;
         color:#fff; 
         font-weight:600;
         margin-bottom: 2.5rem;
         width: 100%;
        }
.banner-text{
    width:70%;
     position:absolute;
      bottom:40px; 
      padding-left:20px;
    }
.banner-text h2{
    color:#fff; 
    font-weight:600;
}
.banner-text h2:after{
    content:" ";
     width:100px; 
     height:5px; 
     background:#FFF;
      display:block;
       margin-top:20px;
        border-radius:3px
    }
.banner-text p{
    color:#fff;
}
img{
    width: 100%;
    height: auto;
}




.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  

  .tab button:hover {
    background-color: #ddd;
  }
  

  .tab button.active {
    background-color: #ccc;
  }



  .round-tabs  :hover {
    background-color: white;
    color: white;
  }
  .active, .tabss :hover {
    background-color: rgb(201, 193, 193);
    color: white;
  }

  
  #update{
      display: none ;
  }

  #register{
      display:none;
  }
  .login-sec[_ngcontent-c1] h2[_ngcontent-c1] {
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: rgb(211, 136, 136);
}

.cards{
    margin-bottom: 1%;
    border: 0% !important;
    cursor: pointer;
    /* background-color: #E36262; */

}
.card{
    background-color: #E36262;
    width: 100%;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 50%;
  }
  .modal{
    width: 50%;
    height: 50%;
    margin: 0% auto;
    position: absolute;
    top: 30%;
  }
  .textareaModal{
    height: 150px;

  }
  
  /* The Close Button */
  .closebtn {
    color: #aaaaaa;
    float: center;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closebtn:hover,
  .closebtn:focus {

    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .btn-update  .btn-update :hover,
  .btn-update :focus  {
    
       color: white;

  }
  .btn-update {
    float: right;
    background-color: white; 
       color: #000;
       width: 30%;
       position: relative;
       left: 65%;
       height: 50px;
     


  }




span.round-tabs{
    width: 60px;
    height: 60px;
    line-height: 50px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 20px;
}



li.active span.round-tabs.one{
    background: rgb(158, 27, 27) !important;
    border: 2px solid#cf75ae;
    color: #cf75ae;
}

span.round-tabs.two{
    color: #FBD17F;
    border: 2px solid#FBD17F;
}

li.active span.round-tabs.two{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #febe29;
}

span.round-tabs.three{
    color: #FFB1B5;
    border: 2px solid #FFB1B5;
}

li.active span.round-tabs.three{
    background: #FFB1B5 !important;
    border: 2px solid #ddd;
    color:#FFB1B5 ;
}

span.round-tabs.four{
    color: #FFB4ED  ;
    border: 2px solid #FFB4ED ;
}

li.active span.round-tabs.four{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}

span.round-tabs.five{
    color: #F8A7C8;
    border: 2px solid #F8A7C8;
}

li.active span.round-tabs.five{
    background: #F8A7C8 !important;
    border: 2px solid #F8A7C8 ;
    color: #999;
}


span.round-tabs.six{
    color: #FFBF95;
    border: 2px solid #FFBF95;
}

li.active span.round-tabs.six{
    background: red !important;
    border: 2px solid red;
    color: #999;
}

span.round-tabs.seven{
    color: #9CDCFF;
    border: 2px solid #999;
}

li.active span.round-tabs.seven{
    background: #fff !important;
    border: 2px solid #9CDCFF;
    color: #999;
}

span.round-tabs.eight{
    color: #999;border: 2px solid #999;
}
span.round-tabs.five[_ngcontent-c1] {
    color: #F8A7C8;
    border: 2px solid #F8A7C8;
}
span.round-tabs.six[_ngcontent-c1] {
    color: #FFBF95;
    border: 2px solid#FFBF95;
}
span.round-tabs.one[_ngcontent-c1] {
    color: #FFBF95;
    border: 2px solid#FFBF95;
}
span.round-tabs.seven[_ngcontent-c1] {
    color: #9CDCFF;
    border: 2px solid#9CDCFF;
}
span.round-tabs.eight[_ngcontent-c1] {
    color: #14ca48;
    border: 2px solid #14ca48;
}

li.active[_ngcontent-c1] span.round-tabs.one[_ngcontent-c1] {
    background: #fff !important;
    border: 2px solid rgb(180, 17, 17);
    color: #A9D67E;
}

li.active span.round-tabs.eight{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}

.nav-tabs > li.active > a span.round-tabs{
    background: #fafafa;
}
.nav-tabs > li {
    width: 12.5%;
}

.nav-tabs > li:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
 
    transition:0.1s ease-in-out;
    
}
.nav-tabs > li.active:after {
    /* content: " ";
    position: absolute;
    left: 45%;
   opacity:1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #ddd; */
    
}
.nav-tabs > li a{
   width: 40px;
   height: 40px;
   margin: 10px auto;
   border-radius: 100%;
   padding: 0;
}

.nav-tabs > li a:hover{
    background: transparent;
}

.tab-content{
}
.tab-pane{
   position: relative;
padding-top: 50px;
}
.tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}
.nav-tabs {
    border-bottom: 0px;
}





@media( max-width : 585px ){
    
    .board {
width: 90%;
height:auto !important;
}
    span.round-tabs {
        font-size:16px;
width: 50px;
height: 50px;
line-height: 50px;
    }
    .tab-content .head{
        font-size:20px;
        }
    .nav-tabs > li a {
width: 50px;
height: 50px;
line-height:50px;
}

.nav-tabs > li.active:after {
content: " ";
position: absolute;
left: 35%;
}

.btn-outline-rounded {
    padding:12px 20px;
    }
}

span.round-tabs[_ngcontent-c1] {
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}


.hoverlabel:hover + label{
    transform: scale(1);
    position: relative;
    right: 50px;
    transition: all ease .3s;
    color: black;
   
  }
  .card-body{
      /* padding-top: 0%; */

  }

  form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  
  color: white;
  padding: 14px 20px;
  margin: 8px 0;

}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }

} 
 .heading{
      font-weight: bold;
      text-align: center;
  }
  .close{
      font-weight: bold;
  }
  select.form-control:not([size]):not([multiple]) {
    height: calc(3.25rem + 2px);
}